<h2><%= @user %></h2>

<ul>
  <% @user.tweets.each do |tweet| %>
    <li><%= tweet %></li>
  <% end %>
</ul>

<h2>Feed</h2>

<ul>
  <% @feed_items.each do |feed_item| %>
    <li><b><%= link_to feed_item.tweet_user, feed_item.tweet_user %></b> <%= feed_item.tweet %></li>
  <% end %>
</ul>

<h2>Following</h2>

<ul>
  <% @user.followings.each do |user| %>
    <li><b><%= link_to user, user %></b></li>
  <% end %>
</ul>

<h2>Followers</h2>

<ul>
  <% @user.followers.each do |user| %>
    <li><b><%= link_to user, user %></b></li>
  <% end %>
</ul>